/* --------------------------- HOME PAGE -------------------------- */

/*----- MAIN ---- */
main{
    margin-right:0px;
}

/* COVER IMAGE */
.cover-image {
    margin-right:0px;
    width: 100%;
    height: auto;
}

/* FEATURED PRODUCTS SECTION */
.featured-products-section{
    margin-right:0px;
    background-image: linear-gradient(#000,#4d0000,#6b0202,#870404,#b60505);
    border-radius: .5rem;
}
.card-middle-body{
    font: 22px arial;
    font-weight: 800;
}
.iconbox_prev{
    background-image: linear-gradient( to left ,black ,white);
    border-radius: .5rem;
}
.iconbox_next{
    background-image: linear-gradient( to right ,black ,white);
    border-radius: .5rem;
}
.carousel-item .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}