<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>NARUTO | Login </title>
    <link rel="stylesheet" href="../css/login.css">

  </head>
  <body>
    <div class="redirection">
      <a href="home.html" class="homepagelink">
        <span></span>
        < Back to Home Page
      </a>
    </div>
    <!-- LOGIN BOX -->
    <div class="login-box">
      <h2>NARUTO Login</h2>
      <form>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>User name</label>
        </div>
        <div class="user-box">
          <input type="password" name="" required="">
          <label>Password</label>
        </div>
        <a href="login.html">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Login
        </a>
      </form>
    </div>
  </body>
</html>
